<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.autocar.cleancity.dao.TrashDao">

	<select id="getList" parameterType="String" resultType="UserTrash">
		SELECT userid, cap,empty_date  FROM garbage_collection
		WHERE userid = #{userid} order by EMPTY_DATE
		
	</select>

</mapper>